body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-left: 15px;
  background-color: rgb(18, 18, 18);
  padding: 130px 20px 20px 262px;
}

img {
  margin: 0;
}

button { 
  margin: none;
}

hr {
  width: 100%;
  border: none;
  border-top: 0.1px solid gray;
  opacity: 0.3;
  padding: 0 -2px;
  margin: 12px 0;
}

p {
  margin: 0;
  color: white;
  display: inline;
}


