.left-tab {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;

  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 220px;
  padding-top: 12px;
  overflow-y: hidden;
  /* overflow-x: hidden; */
  transition: overflow-y 0.15s;
}

.left-tab:hover {
  margin-left: 4px;
  overflow-y: scroll;
}

.tab-container {
  display: flex;
  /* align-items: left; */
  width: 190px;
  flex-direction: column;
  color: white;
}



.tab {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;

}

.tab:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tab img {
  -webkit-filter: invert(100%);
  filter: invert(100%);

  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 22px;
}

.tab div {
  flex-shrink: 0;
  font-size: 14px
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.followed {
  font-size: 14px;
  margin:0 0 6px 12px;
}