.vids-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 24px;
  column-gap: 12px;
  width: 100%;
  /* overflow: hidden; */
}

@media (max-width: 750px) {
  /* styles to apply when the viewport is 25% or narrower */
  .vids-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 751px) and (max-width: 1000px) {
  /* styles to apply when the viewport is between 26% and 50% wide */
  .vids-grid {
    grid-template-columns: 1fr 1fr ;
  }
}

@media (min-width: 1001px) and (max-width: 1399px) {
  /* styles to apply when the viewport is between 51% and 75% wide */
  .vids-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  /* styles to apply when the viewport is 76% or wider */
  .vids-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.vid-container {
  /* max-width: 360px;  */
  min-width: 205px;
}

.thumnails {
  position: relative;
}

.thumnails img{
  width: 99%;
  border-radius: 8px;
}

.thumnails p {
  font-size: 12px;
  background-color: rgba(0,0,0, 0.7);
  padding: 2px 4px;
  border-radius: 4px;
  position: absolute;
  bottom: 6px;
  right: 6px;
  
}
.vid-info-container {
  display: grid;
  grid-template-columns: 48px 1fr;
}

.vid-info-container img {
  width: 36px;
  height: 36px;
  margin: 12px 12px 0 0;
  border-radius: 50%;
}

.vid-info {
  display: flex;
  flex-direction: column;
  padding: 12px 24px 0 0;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 8px;
  max-height: 44px;
  color: #F1F1F1;
  overflow: hidden;
}

.ch-name,
.stats {
  flex: 1;
  font-size: 12px;
  font-weight: 400;
  color: #AAAAAA;
  margin-bottom: 4px;
}